[submodule "ext/geogram"]
	path = ext/geogram
	url = git@github.com:BrunoLevy/geogram.git
	ignore = dirty
[submodule "ext/fmt"]
	path = ext/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/dbg-macro"]
	path = ext/dbg-macro
	url = git@github.com:sharkdp/dbg-macro.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = git@github.com:syoyo/tinygltf.git
